.page {
    margin: 16px;
    padding: 16px;
    border-style: groove;
    border-width: 2px;
    border-radius: 30px;
    background: khaki;

    .header {
        margin: 20px;
        background: linear-gradient(rgb(194, 178, 178), rgb(219, 183, 283));
    }
}