<div class="container">
  <h1>Lista de Exercícios Básicos em Angular</h1>
  <div class="exerc1">
      <div>
        <p>
          3. Escrever um programa para determinar o consumo médio de um automóvel  sendo  fornecida  a  distância  total  percorrida  pelo automóvel e o total de combustível gasto.
        </p>
        <div class="linha">
          <div class="label">
            <label for="distancia">Informe a Distância Total</label>
          </div>          
          <input type="number" id="distancia" [(ngModel)]="distancia"/>
        </div>
        <div class="linha">
          <div class="label">
            <label for="gasto">Total Gasto</label>
            </div>
            <input type="number" id="gasto" [(ngModel)]="gasto"/>
        </div>
        <div class="linha">
          <button (click)="calcular()">Calcular</button>
        </div>
        <div class="linha">
          <div class="label">
            <label for="resultado">Resultado</label>
          </div>
            <input type="number" [(ngModel)]="resultado"/>
        </div>
      </div>
  </div>
</div>
